langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-google-genai
langchain-google-community[gcs]
langchain-openai
langchain-chroma
chromadb
faiss-cpu
unstructured[pdf]
pypdf
pikepdf
websockets
defusedxml
python-dotenv
jupyter
ipywidgets
notebook
streamlit
numexpr
